/* 共通のレイアウト */
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

/* 文字サイズのレスポンシブ */
* {
  font-size: calc(1.4rem + 0.1vw);
}
/*--------------------------------
 ------- 共通部分ここまで--------
------------------------------*/


/*---------------------------------
 ----------- フッター ------------
-------------------------------*/
footer {
  padding: 10px 0;
}

footer a{
  font-size: calc(1.2rem + 0.3vw);
  color: black;
  text-decoration: none;
  margin-right: 20vw;
}

footer a:hover {
  color: cadetblue;
}

/* --------------------------------
 -----ヘッダーのアイコンのcss------
--------------------------------- */
.navbar {
  background-color: #EEEEEE;
}
.fa-bars {
  color: white;
}

.navbar-toggler {
  color: white;
}

.nav-icon {
  width: 65px;
  text-align: center;
  margin-left: 30px;
}

.nav-icon span {
  font-size: 1.3rem;
  display: inline-block;
}

.nav-icon a{
  color: #003366;
}

.nav-icon a:hover {
  color: cadetblue;
}

@media screen and (max-width: 991px) {
  /* 画面幅991px以下に適用される */
  .nav-icon {
    display: inline;
    text-align: center;
  }
  
  .nav-icon span {
    font-size: 2.0rem;
    display: inline-block;
    margin: 20px 0 20px 20px;
  }

}
/* ----------------------------
 --ヘッダーのアイコンここまで--
-------------------------- */

/* --------------------------
------検索ボックスのcss------- 
----------------------------*/
#s-form {
  position: relative;
  width: 50vw;
  margin: 0 auto;
}

#s-box {
  font-size: calc(1.2rem + 0.6vw);
}

#s-btn {
  position: absolute;
  right: 10px;
  top: 20%;
  background: none;
  border: none;
  outline: none;
}

#s-btn:hover {
  color: cadetblue;
}

/* 画面幅766px以下で適用される */
@media screen and (max-width: 766px) {
  #s-form {
    position: relative;
    width: 70vw;
    margin: 0 auto;
  }
  
  #s-box {
    font-size: calc(1.2rem + 0.6vw);
  }
  
  #s-btn {
    position: absolute;
    right: 10px;
    top: 15%;
    background: none;
    border: none;
  }
}
/*-----------------------------
 ------検索ボックスここまで 
 ------------------------------*/



/*------------------------------
 -------マイページ-------------
----------------------------*/
.list-group li {
  padding-top: 3.0rem;
}

.user-nav li {
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;
  text-align: center;
}

.user-nav a {
  color: black;
  text-decoration: none;
}

.user-nav i {
  margin-right: 1rem;
}

.user-info li, .user-prof li {
  position: relative;
}

.user-info span, .user-prof span {
  color: black;
  position: absolute;
  left: 15rem;
  top: 3.0rem;  
}

.user-info a, .user-prof a {
  float: right;
  text-decoration: none;
  color: cadetblue;
}

.user-prof li:last-child {
  display: inline-block;
  padding: 25px 0 15px 0;
  margin: 0 auto;
}
/*------------------------------
 -------マイページここまで------
----------------------------*/




/*------------------------------
 -------トップページ-----------
----------------------------*/
#top-screen h1, #top-screen p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#top-screen {
  height: 56vw;
  position: relative;
  background-color: white;
}

#gray {
  width: 70%;
  height: 60%;
  position: absolute;
  right: 5%;
  top: 8%;
  background-color: #003366;
}

#navy {
  width: 50%;
  height: 50%;
  position: absolute;
  right: 5%;
  top: 8%;
  background-color: #CCCCCC;
}

#white {
  width: 20%;
  height: 20%;
  position: absolute;
  right: 8%;
  top: 10%;
  background-color: white;
}

.box-w p, .box-b p {
  margin: 0 auto;
}

.column {
  width: 25%;
  opacity: 0.8;
}

.col {
  position: relative;
}

.feature {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.carousel-btn {
  display: block;
  height: 32%;
  background-color: white;
  border-radius: 20px;
}

.prev {
  width: 50px;
  margin-left: 7vw;
}

.next {
  width: 50px;
  margin-right: 7vw;
}

.dummy {
  height: 34%;
}

.fa-chevron-right {
  color: #003366;
}

#carouselExampleControls {
  margin: 10vw 0;
}

.recruit {
  text-align: center;
}
/* -----------------------------
-----トップページここまで-----
---------------------------- */


/*------------------------------
--------ランキングページ--------
--------------------------- */
@media screen and (min-width: 991px) {
  .ranking {
    width: 70vw;
    margin: 50px auto;
  }
}

.ranking {
  margin-top: 100px;
  margin-bottom: 70px;
}

/* ----並べ替えボタン---------- */
.ranking-order .form-select {
  width: 130px;
  font-size: 16px;
}

.ranking-order label {
  padding: 3.75px 0;
}
/* --並べ替えボタンここまで----- */


.ranking-list {
  margin: 20px 0 40px;
}

.ranking-list .list-group-item {
  padding: 15px 10px;
  border: solid 2px #003366;
  border-top: none;
  opacity: 0.6;
}

.ranking-list .list-group-item:hover {
  background-color: #CCCCCC;
}

/* -----------リストのタブ----------------- */
.nav-tabs {
  border-bottom: solid 2px #003366;
  opacity: 0.8;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: white;
  background-color: #003366;
  border-color: #003366;
  border-radius: 0;
}

.nav-tabs .nav-link {
  color: #003366;
  border-radius: 0;
}
/* ----リストのタブここまで---------- */


/* -------ページネーション-------- */
.page-item {
  border-radius: none;
  margin: 0 10px;
}

.page-item a {
  color: white;
  background-color: #003366;
}

.page-chevron {
  color: white;
}

.page-item a:hover {
  color: #003366;
  background: none;
  border: none;
}

.page-item a:hover .page-chevron {
  color: #003366;
}
/* ----ページネーションここまで------ */

/* ----------------------------------
 ----ランキングページここまで--------
----------------------------------- */
